<%= form_for @target do |f| %>
 
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@target.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">

    
    
    
    
        <style>

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
 /* margin: 0 0 20px;
  line-height: 1.5;*/
}

main {
  min-width: 500px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #ffffff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  /*display: none;*/
}

textarea {
    width: 500px;
    height: 500px;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

    </style>

    
        

    
  </head>

  <body>

    <h1>Target Panel</h1>

<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Target</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Ports</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Directory</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Notes</label>
    
  <section id="content1">
   <p>
    <%= f.label :ipaddress %><br>
    <%= f.text_field :ipaddress %>
    <p>
    <%= f.submit :Submit %>
    </p>
  </p>

<%= link_to 'Back', targets_path %>
  </section>
    
  <section id="content2">
  <p>
    <%= f.label :ports %><br>
    <%= f.text_area :port %>
      <p>
    <%= f.submit :Submit %>
    </p>
  </p>
   
<%= link_to 'Back', targets_path %>
  </section>
    
  <section id="content3">
    <p>
    <%= f.label :Directorys %><br>
    <%= f.text_area :dirb %>
      <p>
    <%= f.submit :Submit %>
    </p>
  </p>

<%= link_to 'Back', targets_path %>

  </section>
    
  <section id="content4">
    <p>
    <%= f.label :Backdoors %><br>
    <%= f.text_area :backdoors %>
      <p>
    <%= f.submit :Submit %>
    </p>
  </p>


<%= link_to 'Back', targets_path %>


  </section>
    
</main>
    
    
    
    
    
  </body>
 
<% end %>
