
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Listing Targets</title>
<style type="text/css">
<!--
@import url("styleable.css");
-->
</style>
</head>
<body>
<center>
<table id="rounded-corner" summary="Target Listing">
    <thead>
        <tr>
            <th scope="col" class="rounded-company">IP Address</th>
            <th scope="col" class="rounded-company">Status</th>
            <th scope="col" class="rounded-company"></th>
            <th scope="col" class="rounded-company"></th>
            <th scope="col" class="rounded-company"></th>
        </tr>
    </thead>
        <tfoot>
        <tr>
            <td colspan="4" class="rounded-foot-left"><em> <%= link_to 'New Target', new_target_path %></em></td>
            <td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
    <tbody>
        <% if user_signed_in? %>
         
        <% @targets.each do |target| %>
         <% if target.user_id == current_user.id %>
        <tr>
 <td><%= target.ipaddress %></td>
 <td><%=target.status %></td>

      <td><%= link_to ' Show', target_path(target) %></td>
      <td><%= link_to ' Edit', edit_target_path(target) %></td>
      <td><%= link_to ' Destroy', target_path(target),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              <% end %>
              <% end %>
             <% end %>
              
        </tr>
        </tr>
      
    </tbody>
</table>

</center>