<h1>Listing Targets</h1>
 <%= link_to 'New Target', new_target_path %>
<table>
  <tr>
    <th>IP Address</th>
    <th>Ports</th>
    <th colspan="5"></th>
  </tr>
 
  <% @targets.each do |target| %>
    <tr>
      <td><%= target.ipaddress %></td>
      <td><%= target.port %></td>
      <td><%= link_to 'Show', target_path(target) %></td>
      <td><%= link_to 'Edit', edit_target_path(target) %></td>
      <td><%= link_to 'Destroy', target_path(target),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>